.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

/* for top-menu */
//네비게이션 버튼 높이
.nav-btn, .nav-btn-bar{
  height: 3rem;
}
.top-menu.nav-btn{
  border: none;
  display: inline-flex;
  width: 6rem;
  margin-left: -1px;
}

/* giscus(댓글) */
.giscus, .giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}